.contactform h3 {
    text-align: center;
    color: #fff;
}

.contactform {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ACC9AD;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.contactform label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #333;
}

.contactform input,
.contactform textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #000;
    border-radius: 5px;
    font-size: 16px;
    background-color: #f0f0f0;
}

.contactform textarea {
    height: 100px;
}

.contactform button {
    background-color: #fff;
    color: #000;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    font-weight: 600;
}

.contactform button:hover {
    background-color: #EAE7CD;
}